{% extends "layout.html" %}
{% block content %}

<form method="POST">
<div class='container '>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
{% for meme in memes%}
        <div class="col-md-3">
          <div class="thumbnail">
            <div class="caption">
              <h3>{{meme["meme_desc"]}}</h3>
            </div>
            <img  id="{{meme['id']}}" src="{{meme['path']}}" alt="">
            <br>
            <div class="">

              <a href="/like/{{meme['id']}}">
                <button type="button" value="{{meme['like']}}" id="like" class="btn btn-success"/>
                <i class="fa-fw fa fa-thumbs-up"></i>
                <span>{{meme['like']}}</span>
                </button>
              </a>

                <a href="/deslike/{{meme['id']}}">
                  <button type="button" value="" id="deslike"  class="btn btn-danger">
                    <i class="fa-fw fa fa-thumbs-down"></i>
                    <span>{{meme['deslike']}}</span>
                  </button>
                </a>


                <input type="button" value="Apagar" id="btn-apagar" class="btn btn-info" data-id="{{meme['id']}}"/>

              </button>
            </div>

          </div>
        </div>



{%endfor%}
</div>

</div>
</div>


</div>
</form>
{% endblock %}
